header {
    background-color: black;
    color: aquamarine;
    text-align: center;
}
main {
    background-color: lightgray;
    padding: 1em;
}
body {
    background-image: url('record.png');
    margin: 0;
  }